<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{background-color: lightblue}

#super{display: flex}
</style>
</head>
<body>
<div id="super">
<div>
<form action="getallposts">
<input type="submit" value="viewallposts">
</form>
</div>
<div>
<form action="getallusers">
<input type="submit" value="viewallusers">
</form>
</div>
<div>
<form action="login">
<input type="submit" value="logout">
</form>
</div>

</div>
</body>
</html>