<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{background-color: lavender;}
*{font-family: cursive;font-size:15px}
#super{margin-top:10%;margin-left:10%}

</style>
</head>
<body>
<div id="super">
<h1> posts </h1>
<table border=5px>
<tr>
<th>postid</th>
<th>postedbyuser</th>
<th>post</th>
<th>action</th>
</tr>
<tr th:each="reg : ${list}">
<td th:text="${reg.post_id}"></td>
<td th:text="${reg.cs.username}"></td>
<td th:text="${reg.post}"></td>
<td>
<a th:href="@{/delete/{post_id}(post_id=${reg.post_id})}">delete</a>
</td>
</tr>
</table>
</div>	
</body>
</html>