<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{background-color: lightblue}
*{font-family: cursive;font-size:15px}
#super{margin-top:10%;margin-left:10%}

</style>
</head>
<body>
<div id="super">
<h1>Displaying All Employees Details</h1>
<table border=5px>
<tr>
<th>employeeid</th>
<th>name</th>
<th>address</th>
<th>mobileno</th>
<th>email</th>
<th>salary</th>
<th>Username</th>
<th>action</th>
</tr>
<tr th:each="reg : ${list}">
<td th:text="${reg.employeeId}"></td>
<td th:text="${reg.name}"></td>
<td th:text="${reg.address}"></td>
<td th:text="${reg.mobileNumber}"></td>
<td th:text="${reg.email}"></td>
<td th:text="${reg.salary}"></td>
<td th:text="${reg.credientails.userName}"></td>
<td>
<a th:href="@{/update/{employeeId}(employeeId=${reg.employeeId})}">Edit</a>
</td>
</tr>
</table>
<a th:href="@{admin}">back</a>
</div>	
</body>
</html>