<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<style>
body{background-color: lightblue}
*{font-family: cursive;font-size:15px}
#super{margin-top:12%;margin-left:30%}
</style>
<body>
<div id="super">
<h1>Displaying All User Details</h1>
<h1></h1>
<table border="5px">
<tr>
<th>Userid</th>
<th>password</th>
<th>Delete</th>
</tr>
<tr th:each="reg : ${list}">
<td th:text="${reg.userName}"></td>
<td>
<a th:href="@{/delete/{userName}(userName=${reg.userName})}">Delete</a>
</td>
</table>
<a th:href="@{admin}">back</a>
</div>
</body>
</html>